body {
    max-width: 1440px;
    width:100%;
    height: 100vh;
    margin: auto;
    background-color: rgb(250, 250, 250);
}


/*  .grid 
	    display: flex;
        flex-wrap: wrap;
QUESTION 1: 
        So my initial thought was to position the containers with flex after I had created the grid structure for the items. 
        But the containers wont let me bcs the purple container goes behind the others. 
        Why is this? I can't figure out why.. See CSS above this question. */

/*QUESTION 2: 
        My second thought was to try and nest divs and make container2 a part of container1's third fr, if that makes sence..? 
        But that didn't work out either. See commented out div in html. */

/*  .container__position 
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr;  
QUESTION 3: 
        My last atempt was to try and create a grid structure for the grid containers. This didn't really work either. 
        It got a bit too messy and I started mixing up sections and divs and containers etc. 
        So I thought I should just stop trying bcs there MUST be an easier more logical way. See commented out section in HTML + CSS above this question. */  


/* ====== FOOTER STYLING ===== */
.footer {
    background-color: aqua;
    padding: 20px;
    align-content: center;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    color:bisque
}

/* ====== PARENT STYLING ===== */

.grid__container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px white;

    min-height: 414px;
    width: 896px;
    background-color: rgb(253, 33, 33); /*only to visualise container - can be removed*/
}

.grid__container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 24px lightblue;    
    
    min-height: 414px;
    width: 448px;
    background-color: rgb(11, 162, 6);
}

.grid__container3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px pink;

    min-height: 268px;
    width: 100%;
    background-color: blueviolet;
}


/* ====== CHILDREN CONTAINER 1 ===== */

.grid__container1__item1 {
    background-color: brown;
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid__container1__item2 {
    background-color: rgb(195, 19, 19);
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid__container1__item3 {
    background-color: rgb(234, 114, 114);
    grid-row: 1/3;
    grid-column: 2/3;
}

/* ====== CHILDREN CONTAINER 2 ===== */

.grid__container2__item4 {
    background-color: rgb(204, 234, 114);
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid__container2__item5 {
    background-color: rgb(140, 180, 18);
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid__container2__item6 {
    background-color: rgb(91, 114, 21);
    grid-row: 3/4;
    grid-column: 1/2;
}

/* ====== CHILDREN CONTAINER 3 ===== */

.grid__container3__item7 {
    background-color: rgb(129, 81, 211);
    grid-row: 1/3;
    grid-column: 1/3;
}

.grid__container3__item8 {
    background-color: rgb(180, 146, 240);
    grid-row: 1/2;
    grid-column: 3/4;
}

.grid__container3__item9 {
    background-color: rgb(73, 57, 100);
    grid-row: 2/3;
    grid-column: 3/4;
}

.grid__container3__item10 {
    background-color: rgb(179, 155, 219);
    grid-row: 1/3;
    grid-column: 4/6;
}

.grid__container3__item11 {
    background-color: rgb(68, 11, 167);
    grid-row: 1/3;
    grid-column: 6/7;
}